.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 1px; 
    margin-bottom: 20px; 
}

.contact-item img {
    width: 35px;
    height: auto;
}

.contact-item p {
    margin: 0; 
}
